[Unit]
Description=RPi Stats LCD loop
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/env python3 /home/pi/Projects/rpi-monitor-lcd/script.py

[Install]
WantedBy=multi-user.target
